<div id="quarto">
  <h3>Quarto</h3>
  <p>
    Quarto is an open-source scientific and technical publishing system.
  </p>


  <div>
    <ul class="nav nav-tabs os-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#quarto-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#quarto-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#quarto-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux / WSL</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="quarto-windows">
        <p>
          You can download and install Quarto from the <a href="https://quarto.org/docs/get-started/">Quarto official website</a>.
          Note for this workshop you do not need to download the "Quarto CLI" in Step 1 on the Quarto webpage, as we will be using a different Command Line Interface (CLI). 
          Rather, download the Quarto installer under the Windows with a file name similar to <code>quarto-1.8.27-win.msi</code>. Run the installer with all the default settings.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="quarto-macos">
        <p>
          You can download and install Quarto from the <a href="https://quarto.org/docs/get-started/">Quarto official website</a>.
          Note for this workshop you do not need to download the "Quarto CLI" in Step 1 on the Quarto webpage, as we will be using a different Command Line Interface (CLI). 
          Rather, download the Quarto installer under Mac OS with a file name similar to <code>quarto-1.8.27-macos.pkg</code>. Run the installer with all the default settings.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="quarto-linux">
        <p>
          You can download and install Quarto from the <a href="https://quarto.org/docs/get-started/">Quarto official website</a>.
          Note for this workshop you do not need to download the "Quarto CLI" in Step 1 on the Quarto webpage, as we will be using a different Command Line Interface (CLI). 
          Rather, download the Quarto installer with a file name similar to <code>quarto-1.8.27-linux-amd64.deb</code> or <code>quarto-1.8.27-linux-arm64.deb</code> (depending on your system). Run the installer with all the default settings.
        </p>
      </article>
    </div>
  </div>

</div>
